@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(left, #f8bbd0, #f06292);
  background: linear-gradient(to right, #f8bbd0, #f06292);
  font-family: "Noto Sans KR";
  color: #fff;
}

.container {
  position: relative;
  top: 150px;
  text-align: center;
  width: 380px;
  height: 400px;
}

.bigTitle{
	padding-bottom: 20px;
}

.subTitle {
  padding-bottom: 20px;
}
h2 {
  font-size: 40px;
  padding-bottom: 20px;
}

.signup_container {
  position: relative;
  top: 50px;
  text-align: center;
  width: 450px;
  height: 650px;
}

.input_box {
  padding-bottom: 20px;
}

input {
  width: 300px;
  height: 30px;
  border: none;
  height: 50px;
  border-radius: 30px;
}
input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  text-align: center;
  font-size: 15px;
  color: #ccc;
}

.submit_btn {
  background-color: #f06292;
  outline: 0;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.submit_btn:hover {
  transition: all 0.3s ease;
  background-color: #ec407a;
}

.copy {
  transform: translate(0, 290px);
}

.signup_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 40px;
}

.signup_btn:hover {
  transition: all 200ms ease;
  color: #ec407a;
}