@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(left, #f8bbd0, #f06292);
  background: linear-gradient(to right, #f8bbd0, #f06292);
  font-family: "Noto Sans KR";
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  text-align: center;
  /* background-color: #f8bbd0; */
  width: 380px;
  height: 400px;
  /* border-radius: 8px; */
}

.signup_container {
  position: relative;
  top: 50px;
  text-align: center;
  /* background-color: #f8bbd0; */
  width: 450px;
  height: 650px;
  /* border-radius: 8px; */
}

.input_box {
  padding-bottom: 20px;
}

input {
  width: 300px;
  height: 30px;
  border: none;
}

.submit_btn {
  background-color: #f06292;
  /* border-radius: 5px; */
  outline: 0;
  border: 0;
  color: white;
  cursor: pointer;
}

.submit_btn:hover {
  transition: all 200ms ease;
  background-color: #ec407a;
}

.signup_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5px;
  top: 20px;
  color: white;
  background-color: #f06292;
  /* border-radius: 5px; */
  width: 300px;
  height: 30px;
  top: 20px;
  cursor: pointer;
}

.signup_btn:hover {
  transition: all 200ms ease;
  background-color: #ec407a;
}

.goLogin_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 75px;
  top: 20px;
  color: white;
  background-color: #f06292;
  /* border-radius: 5px; */
  width: 300px;
  height: 30px;
  cursor: pointer;
}

.goLogin_btn:hover {
  transition: all 400ms ease;
  background-color: #ec407a;
}
